l3_interfaces:
-   ipv4:
    -   address: {{ l3_interfaces[2]['ipv4'][0]['address']}}
    name: gr-0/0/0
    unit: '0'
-   ipv4:
    -   address: {{ l3_interfaces[1]['ipv4'][0]['address'] }}
    name: lo0
    unit: '0'




